@import "@/assets/style/theme.scss";

.titleBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 20px 40px;

  .logobox {
    width: 15%;

    img {
      width: 100px;
      display: block;
    }
  }

  .menubox {
    width: 15%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .home {
      font-size: 20px;
      cursor: pointer;
      transition: 0.2s;
    }
    .home:hover {
      color: white;
    }

    .tabBox {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $blue;
      border-radius: 20px;
      border: 1px solid $border_blue;

      .tab {
        width: 50%;
        padding: 8px 4px;
        text-align: center;
        cursor: pointer;
        border-radius: 20px;
        transition: 0.2s;
        font-weight: 400;
        position: relative;
      }
     
      .onOff{
        font-weight: 600 ;
        color: white;
        background: $primary;
        
      }

      .tab:hover {
        color: white;
      }

      .select {
        background: $primary;
        color: white;
      }
    }
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    color: white;
    font-weight: 900;
  }

  .time {
    width: 15%;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
    color: $white;
  }
}

.infoBox {
  width: 100%;
  display: flex;
  height: 100px;
  border-top: 1px solid $border_blue;
  border-bottom: 1px solid $border_blue;

  .tikerBox {
    width: 88%;
    background: $blue;
    height: 100%;
    display: flex;
    flex-direction: column;

    .tiker {
      height: 48.5px;
      width: 100%;
      padding: 8px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        height: 100%;
        width: 8%;
        text-align: center;
        background: $blue2;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.863);
        display: flex;
        justify-content: center;
        align-items: center;

        i{
          margin-left: 15px;
          color: white;
          cursor: pointer;
          transition: 0.2s;
          font-size: 18px;
        }

       
       i:hover{
          color: $primary;
        }
      }
      .content {
        width: 90%;
        height: 100%;
        overflow: hidden;
        height: 30px;
        color: white;
        padding-left: 16px;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;

        .newsList {

          .news {
            list-style: none;
            height: 100%;
            line-height: 30px;
            white-space: nowrap;
            display: inline-block;
            cursor: pointer;
            position: relative;
            margin-right: 50px;
            font-size: 18px;

            b {
              color: $primary;
            }
          }

          .news::after{
            content: "";
            position: absolute;
            top: 50%;
            right: -25px;
            width: 1px;
            height: 50%;
            background: rgba(255,255,255,0.5);
            transform: translateY(-50%);
          }
          .news:hover {
            opacity: 0.5;
          }
        }
      }

      
    }
    .tikerline {
      height: 1px;
      width: 100%;
      background: $border_blue2;
    }
  }

  .weatherBox {
    width: 12%;
    background: $blue2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
      margin-bottom: 8px;
      font-weight: 600;
      color: white;
    }
    .weatherContent {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .weather {
        font-size: 44px;
        color: white;
        i {
          text-shadow: 2px 2px 6px rgba(220, 220, 221, 0.315);
          cursor: pointer;
          transition: 0.3s;
        }
        i:hover {
          color: white;
          transform: translate(-1px, -1px);
        }
      }
      .weatherInfo {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        span {
          color: white;
        }

        .temp {
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 4px;
        }
      }
    }
  }
}
