.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    position: relative;

    .chartBox {
      position: absolute;
      height: 100%;
      width: 20%;
      z-index: 1;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      padding: 15px;
      justify-content: space-between;

      .charts {
        width: 100%;
        height: 24%;
        border-radius: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
        background: $blue3;
        padding: 15px;
        position: relative;
        border: 1px solid $border_blue;
        transition: 0.2s;

        .title {
          font-size: 14px;
          color: white;
          display: flex;
          align-items: center;
          z-index: 10;

          i {
            color: $primary;
            margin-right: 6px;
            transform: rotate(45deg);
            font-size: 10px;
          }
        }

        .chart {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          padding: 10px;
          width: 70%;
          z-index: 1;
        }
        .chart2 {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          padding: 10px;
          width: 100%;
        }

        .chartLabel {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 38%;

          .label {
            color: $white;
            margin-bottom: 15px;
            width: 100%;

            .name {
              font-size: 12px;
              margin-bottom: 6px;
            }
            .num {
              font-size: 20px;
              font-weight: 600;
              color: white;
              position: relative;
            }
            .num::after {
              content: "";
              position: absolute;
              font-size: 14px;
              top: 50%;
              transform: translateY(-50%);
              margin-left: 8px;
              font-weight: 400;
              letter-spacing: 1px;
            }
            .num1::after {
              content: "▴1.4";
              color: $red;
            }
            .num2::after {
              content: "▾0.9";
              color: $primary;
            }
          }
          .label:last-child {
            margin-bottom: 0;
          }
        }
      }

      .charts:hover {
        transform: translate(-3px, -3px);
      }
    }

    .linkBox {
      position: absolute;
      height: calc(100% - 30px);
      width: calc(18% - 30px);
      z-index: 1;
      top: 15px;
      right: 15px;
      padding: 15px;
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
      border-radius: 15px;
      border: 1px solid $border_blue;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 14px;
        color: white;
        display: flex;
        align-items: center;
        z-index: 10;
        margin-bottom: 10px;

        i {
          color: $primary;
          margin-right: 6px;
          transform: rotate(45deg);
          font-size: 10px;
        }
      }

      .factoryBox {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .factory {
          width: 100%;
          height: 15%;
          background: $blue;
          border: 1px solid #213a60;
          border-radius: 15px;
          display: flex;
          transition: 0.2s;
          cursor: pointer;

          .factoryImg {
            width: 30%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 8px;

            img {
              width: 60%;
              display: block;
            }
            .titlebox {
              width: 100%;
              margin-top: 8px;

              .title {
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                width: 100%;
                margin: 0;
              }
            }
          }

          .factoryInfo {
            width: 70%;
            display: flex;
            flex-direction: column;
            padding: 10px;

          

            .energyBox {
              width: 100%;
              margin: 4px 0;
              color: white;

              .energyname {
                font-size: 12px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                background: #21314d;
                padding: 2px;
                align-items: center;
                border-radius: 10px;
                padding-left: 8px;
              }
              .enerygyStatus {
                width: 25%;
                color: $primary;
                background: black;
                border: 1px solid $primary;
                border-radius: 10px;
                padding: 4px;
                text-align: center;
                font-weight: 600;
              }
            }
          }
        }

        .factory:hover {
          transform: translate(-3px, -3px);
        }

        .errInFactory {
          border: 2px solid #ca2323a6;
          position: relative;
          overflow: hidden;

          .errBlurBox {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: radial-gradient(
              rgba(255, 0, 0, 0),
              rgba(255, 0, 0, 0.123),
              rgba(241, 12, 12, 0.4)
            );
            z-index: 20;
            animation: errAnimation 1.5s infinite both;
          }

          .factoryInfo {
            .titlebox {
              .status {
                .circle {
                  background: $red;
                }
              }
            }

            .energyBox {
              .energyname {
                .errStatus {
                  color: $red;
                  border: 1px solid $red;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes errAnimation {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
