.elec{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .main{
    width: 100%;
    height: calc(100% - 160px);
    position: relative;
    display: flex;

    .mainBG{
      position: absolute;
      width: 102%;
      height: 102%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      opacity: 0.8;
      z-index: -1;

    }

    .mainContent{
      width: 50%;
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    
    .mainContentL{
      //토탈사용량
      .total-status{
        width: 100%;
        padding: 20px;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        
        .elec-box{
          cursor: pointer;
          padding: 10px 15px;
          background: $blue;
          width: calc((100% - 30px) / 4);
          border-radius: 10px;
          border: 1px solid $border_blue2;
          color: white;
          .title{
            color: $primary;
            white-space: nowrap;
            font-size: 14px;
          }
          .num{
            width: 100%;
            align-items:flex-end;
            display: flex;
            justify-content: space-between;

            .used{
              font-size: 24px;
              font-weight: 700;
              margin-top: 6px;
              span{
                font-size: 16px;
                font-weight: 500;
                color: rgb(160, 177, 209);
                margin-left: 4px;
              }
            }
          }
        }
      }

      .table-status{
        padding:20px;
        height: 85%;
        width: 100%;
        padding-top: 0;
        position: relative;
      
          img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
            padding: 20px;
            padding-top: 0;
            display: block;
          }
        

        .content-box{
         padding: 15px;
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;

        .title{
          color: white;
          font-size: 18px;
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          .tableIcon{
            color: $primary;
            font-size: 16px;
            margin-right: 8px;
          }
        }

        .toggle{
          width: 100%;
          display: flex;
          justify-content: end;
          padding: 4px 10px 0 10px;
          
          .ant-switch{
            border: 1px solid $border_blue3 ;
          }
          .ant-switch-inner{
            font-size: 16px;
          }

          .ant-switch-checked{
            background: $primary;
          }
        }

        .table-box{
          width: 100%;
          flex:1;
          border: 1px solid $border_blue4;
          margin-top: 12px;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: column;

          .tooltip{
            width: 200px;
          }

          .thead{
            width: 100%;
            display: flex;
            align-items: center;
            background:#2c497a7c ;
            padding-right: 6px;

            .th{
              color: white;
              width: 30%;
              padding: 16px;
              position: relative;
              font-weight: 600;

              .arrowIcon{
                font-size: 14px;
                cursor: pointer;
                transition: 0.2s;
                .arrow{
                  transition: 0.3s;
                }
              }
              .arrowIcon:hover{
                color: $primary;
              }
              .rotate{
                transform: rotate(180deg);
              }


            }

            .two{
              width: 70%
            }

            .th::after{
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              width: 1px;
              height: 50%;
              background: rgba(255,255,255,0.3);
            }

            .th:last-child::after{
              width: 0;
            }
          }

          .tbody{
            width: 100%;
            flex:1;
            overflow-y: scroll;
            overflow-x: hidden;
            background: #1d395a42;

            
            .tr{
              width: 100%;
              display: flex;
              color: white;
              border-bottom: 1px solid #4562867c;
              cursor: pointer;
              transition: 0.2s;

              .td{
                width: 30%;
                padding: 16px;
                border-right: 1px solid #4562867c;
                color: rgb(193, 222, 255);
              }
              .right{
                width: 30%;
                font-size: 18px;
                font-weight: 600;
                color: white;
                span{
                  font-size: 14px;
                  margin-left: 6px;
                  font-weight: 400;
                  color: rgba(255, 255, 255, 0.74);
                }

              }
              .progress{
                width: 40%;
              }
             

              .td:last-child{
                border-right: none;
              }

              .ant-progress-line{
                width: 100%;
              }
              .ant-progress-text{
                color: white;
                opacity: 0.7;
              }

            }

            .tr:last-child{
              border-bottom: none;
            }

            .tr:hover{
              background: rgba(0,0,0,0.3);
            }

           
          }
        }

        .chart-box{
          width: 100%;
          flex:1;
          border: 1px solid $border_blue4;
          margin-top: 12px;
          background: #0d1b2ea9;
          border-radius: 10px;
          position: relative;

          .chart-title{
            color: white;
            padding: 20px;
            position: absolute;
            top: 0;
            left: 0;
            i{
              color: $primary;
              margin-right: 4px;
              font-size: 14px;
            }
          }

            .chart{
              width: 100%;
              padding: 10px;
              width: 100%;
              height: 100%;
          }
         
        }
       }
      }
    }

    .mainContentR{
      .topCon{
        width: 100%;
        display: flex;
        padding: 20px;
        padding-left: 0;
        height: 40%;
        padding-bottom: 0;
        gap: 20px;

        .content{
          height: 100%;
          width: 100%;
          position: relative;
          
          img{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
          }
          .elecChart{
            width: 100%;
            height: 100%;
            padding: 15px;

            .title{
              color: white;
              font-size: 14px;
              display: flex;
              align-items: center;
              i {
                color: $primary;
                margin-right: 6px;
                transform: rotate(45deg);
                font-size: 14px;
              }
            }
          }
        }
      }

      .bottom{
        height: 60%;
        padding: 20px;
        padding-left: 0;
        width: 100%;
        position: relative;
        
        img{
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px;
          padding-left: 0;
          z-index: -1;
        }

        .elecChart{
          width: 100%;
          height: 100%;
          padding: 15px;

          .title{
            color: white; 
            font-size: 18px;
            display: flex;
            align-items: center;
            i {
              color: $primary;
              margin-right: 6px;
              transform: rotate(45deg);
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  

}