.energy{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content{
      flex:1;
      position: relative;

      //왼쪽 그래프
      .chartBox {
          position: absolute;
          height: 100%;
          width: 20%;
          z-index: 1;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          padding: 15px;
          justify-content: space-between;
    
          .charts {
            width: 100%;
            height: 24%;
            border-radius: 15px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
            background: #12131acb;
            padding: 15px;
            position: relative;
            border: 1px solid $border_blue;
            transition: 0.2s;
            display: flex;
            flex-direction: column;

            .title {
              color: white;
              display: flex;
              align-items: center;
              z-index: 10;
    
              i {
                color: $primary;
                margin-right: 6px;
                transform: rotate(45deg);
                font-size: 14px;
              }
            }
            
            .titlebox{
              display: flex;
              justify-content: space-between;
          
            .toggle{
              .ant-switch{
                border: 1px solid $border_blue3 ;
              }
              .ant-switch-inner{
                font-size: 16px;
              }
  
              .ant-switch-checked{
                background: $primary;
              }
            }
          }
    
            .chart {
              width: 100%;
              flex:1
            }
            .chart2 {
              width: 100%;
              flex:1
            }

           //토글 테이블 설정
           .table-box{
            width: 100%;
            flex:1;
            border: 1px solid $border_blue4;
            margin-top: 12px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .table{
              height: 100%;
            .thead{
              padding: 6px 0;
              width: 100%;
              height: 30%;
              display: flex;
              align-items: center;
              background:#2c497a7c ;
              padding-right: 6px;

              .th{
                color: white;
                padding: 8px;
                text-align: center;
                position: relative;
                width: 50%;
              }


              .th::after{
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 50%;
                background: rgba(255,255,255,0.3);
              }

              .th:last-child::after{
                width: 0;
              }
            }

            .tbody{
              width: 100%;
              height: 70%;
              background: #1d395a42;
              overflow: hidden;
              display: flex;
              .body-box{
                display: flex;
                width: 100%;
                overflow-y: scroll;
                height: 100%;
                .tr{
                  display: flex;
                  flex-direction: column;
                  color: white;
                  width: 50%;
                  
                  .td{
                    width: 100%;
                    padding: 8px;
                    text-align: center;
                    border-right: 1px solid #4562867c;
                    border-bottom: 1px solid #4562867c;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                  }
                  .errTd{
                    font-weight: 600;
                    color: $red;
                  }
                  .td:last-child{
                    border-bottom: none;
                  }
  
                }
              }
                .lasttr{
                  .td{
                    border-right: none;
                  }
                }
              
              
            }

            .name{
              width: 60%;
            }
            .status{
              width: 40%;
            }
          }
          }

          &.chartTwo{
            height: 48%;
            .table-box{
              .table{
                .thead{
                  height: 12%;
                }
                .tbody{
                  height: 88%;
                }
              }
            }

            .body-box{
              display: flex;
              width: 100%;
              overflow-y: scroll;
              height: 100%;

            .tr{
              display: flex;
              color: white;
              flex-direction: column;
              
              .td{
                width: 100%;
                padding: 8px;
                text-align: center;
                border-right: 1px solid #4562867c;
                border-bottom: 1px solid #4562867c;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
              }
              .errTd{
                font-weight: 600;
                color: $red;
              }
              .td:last-child{
                border-bottom: none;
              }

            }}
          }
          }

           
            .statusInfo{
              display: flex;
              flex-direction: column;
              .title-box{
                height: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .toggle{
                  width: 24px;
                  height: 24px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 20px;
                  border: 1px solid $white;
                  color: $white;
                  transition: 0.2s;
                  i{
                    font-size: 12px;
                  }
                }
                .toggle:hover{
                  border: 1px solid $primary;
                  color: $primary;
                  cursor: pointer;
                }

          
              }

              .status-box{
                width: 100%;
                height: 80%;
                display: flex;
                margin-top: 10px;
                justify-content: space-between;
                padding: 0.8rem 0.5rem;
                align-items: center;
                
                .status{
                  width: 25%;
                  text-align: center;
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;

                  .label{
                   color: white;
                  }

                  .numbering{
                    font-size: 40px;
                    font-weight: 800;
                    color:#D1D1D1;
                    cursor: pointer;
                    opacity: 0.7;
                    transition: 0.2s;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                  }

                  .numbering::after{
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform:translateX(-50%);
                    width: 0;
                    height: 1.5px;
                    transition: 0.2s;
                    opacity: 0.5;
                  }

                  .numbering:hover{
                    opacity: 1;
                  }

                  .numbering:hover::after{
                    width: 50%;
                  }

                  .normal::after{
                    background:#1067FE;
                  }
                  .warn::after{
                    background:#dfbe08;
                  }
                  .error::after{
                    background:#e63030;
                  }
                  .info::after{
                    background:white;
                  }

                  .normal{
                    color:#1067FE;
                  }

                  .warn{
                    color: #dfbe08;
                  }
                  .error{
                    color: #e63030;
                  }

                  .line{
                    width: 50%;
                    height: 2px;
                    background: #afb7da71;
                    margin:  0 auto;
                    margin-top: 20px;
                  
                  }
                }

                .status::after{
                  content: '';
                  width: 1px ;
                  height: 80%;
                  background: rgba(255,255,255,0.07);
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
                }

                .status:last-child::after{
                  width: 0;
                }
              }
             
            .table-status{
              height: 85%;
              overflow: hidden;
              width: 100%;
              border: 1px solid $border_blue2;
              margin-top: 10px;
              border-radius: 10px;
              
                .table{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                
                .thead{
                   display: flex;
                    color: white;
                    border-bottom: 1px solid $border_blue;
                    padding: 10px;

                    .no{
                      width: 35%;
                    }
                    .name{
                      width: 65%;
                    }
                  }

                  .tbody{
                    color: white;
                    height: 100%;
                    overflow-y: scroll;
                    
                    .tr{
                      display: flex;
                      width: 100%;
                      padding: 10px;
                      overflow-y: scroll;
                   
                      .num{
                        width: 35%;
                      }

                      .name{
                        width: 65%;
                      }
                    }
                    .tr:hover{
                      background: $blue2
                    }
                }
               
              }

              }
            }
          }
    
          .charts:hover {
            transform: translate(-1px, -1px);
            background: #12131af8;
          }
        }
        //유니티뷰
        .unity-view{
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;

          .unity{
            width: 100%;
            height: 100%;
            
          }
        }

          .bg-view{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: none;
            width: 100%;
            z-index: -1;

            &.woosung{
              width: 60%;
              height: auto;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
      //오른쪽 스팀기계
      .steamsBox{
          position: absolute;
          height: calc(65% - 15px);
          width: calc(18% - 30px);
          z-index: 1;
          top: 15px;
          right: 15px;
          padding: 15px;
          background: rgba(0, 0, 0, 0.623);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
          border-radius: 15px;
          border: 1px solid $border_blue;
          display: flex;
          flex-direction: column;

          &.longPannel{
            height: calc(100% - 30px);
          }

          .title {
              color: white;
              display: flex;
              align-items: center;
              z-index: 10;
              margin-bottom: 10px;
      
              i {
                color: $primary;
                margin-right: 6px;
                transform: rotate(45deg);
                font-size: 14px;
              }
            }

            .trapTab{

              .ant-tabs{
                display: flex;
                flex-direction: column;

                .energy .steamsBox .trapTab .ant-tabs-bar{
                  height: 30px;
                  margin-bottom: 10px;
                }

              }
            }
            .ant-tabs.ant-tabs-card .ant-tabs-card-content>.ant-tabs-tabpane, .ant-tabs.ant-tabs-editable-card .ant-tabs-card-content>.ant-tabs-tabpane{
              overflow-y: auto;
              height: 100%;
            }

            .ant-tabs-bar{
              border-bottom: none;
              margin: 0;

            }

            .ant-tabs-nav-scroll{
              margin-bottom: 10px;
            }
            .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
              background: $blue;
              height: auto;
              border: none;
              color: $white;
              line-height: 30px;
              border-radius: 20px;
              margin-right: 4px;
            }
            .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
              color: $primary;
            }
           
            .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container{
              height: auto;
            }

            .ant-tabs .ant-tabs-bottom-content, .ant-tabs .ant-tabs-top-content{
              height: calc(100% - 40px);
            }
            .ant-tabs.ant-tabs-card .ant-tabs-card-content > .ant-tabs-tabpane-inactive, .ant-tabs.ant-tabs-editable-card .ant-tabs-card-content > .ant-tabs-tabpane-inactive{
              height: 0;
            }

           .steams::-webkit-scrollbar {display:none;}
           .steams{
            flex: 1;
            width: 100%;
            justify-content: space-between;
            overflow-y: auto;
            overflow-x: hidden;
            -ms-overflow-style: none;

            .steam{
              width: 100%;
              height: 25%;
              background: #0e192ca4;
              border: 1px solid #213a60;
              border-radius: 15px;
              display: flex;
              transition: 0.2s;
              justify-content: space-around;
              position: relative;
              overflow: hidden;
              margin-bottom: 10px;

              &.selected{
                background: rgb(7, 16, 31);
                border: 2px solid rgba(255, 255, 255, 0.712);
                }
              
              .steamImgbox {
                width: 35%;
               display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              gap: 4px;
              cursor: pointer;

                img {
                  width: 50%;
                  display: block;
                  opacity: 0.9;
                }
                
                .titlebox {
                  width: 100%;
    
                  .title {
                    font-weight: 500;
                    text-align: center;
                    width: 100%;
                    margin: 0 ;
                    display: block;
                    opacity: 0.8;
                    font-size: 14px;
                    padding: 4px;
                    line-height: 18px;
                    padding-top: 0;
                  }
                }
              }

              .steamInfo {
                width:65%;
                display: flex;
                flex-direction: column;
                padding: 10px 10px 10px 0;
                gap: 8px;
               
    
                .tempClick{
                  cursor: pointer;
                  z-index: 1;
                  
                }
               
               
                .tempClick:hover .enerygyStatus{
                  color: white;
                }
                .energyBox {
                  width: 100%;
                  height: 50%;

                 
                  .energyname {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    background:$blue2;
                    padding: 2px;
                    font-size: 14px;
                    align-items: center;
                    border-radius: 10px;
                    padding-left: 8px;
                    height: 100%;
                    color: white;
                  }
                  .enerygyStatus {
                    color: $primary;
                    border-radius: 10px;
                    padding: 4px;
                    text-align: center;
                    font-weight: 600;
                    position: relative;
                    transition: 0.2s;
                    font-size: 18px;

                    span{
                      font-size: 12px;
                      color: rgba(255, 255, 255, 0.493);
                      margin-right: 16px;
                      margin-left: 4px;
                      position: relative;
                    }
                    span::after{
                      position: absolute;
                      top: 50%;
                      right: -8px;
                      content: "";
                      width: 1px;
                      height: 90%;
                      transform: translateY(-50%);
                      background: rgba(255, 255, 255, 0.253);
                    }

                    span:last-child:after{
                      width: 0;
                    }

                    span:last-child{
                      margin-right: 0;
                    }
                    i{
                      font-size: 20px;
                      text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
                    }

                    .fa-frown{
                      color: #eca200;
                    }
                    .fa-dizzy{
                      color: #ec0000;
                    }
                  }
                }
              }

              .errBlurBox {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: radial-gradient(
                  rgba(255, 0, 0, 0),
                  rgba(255, 0, 0, 0.096),
                  rgba(241, 12, 12, 0.418)
                );
                z-index: 0;
                animation: errAnimation 1.5s infinite both;
              }

              .warnBlurBox {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: radial-gradient(
                  rgba(255, 0, 0, 0),
                  rgba(255, 217, 0, 0.068),
                  rgba(241, 188, 12, 0.192)
                );
                z-index: 0;
                animation: errAnimation 1.5s infinite both;
              }
            }

            .steam:last-child{
              margin-bottom: 0;
            }

            .steam:hover {
              transform: translate(0, 2px);
              background: rgb(14, 25, 44);
            }

            .steam.errInSteam {
              border: 1px solid #ca2323a6;
              position: relative;
              overflow: hidden;

              .steamInfo{
                .titlebox{
                  .status{
                    .circle{
                      background: $red;
                    }
                  }
                }
              }

              .energyBox{
                  .nameColor{
                    color: $red;
                  }
              }
                 
            }      

            .steam.warnInSteam {
              border: 1px solid #f18b05a6;
              position: relative;
              overflow: hidden;

              &.selected{
                background: rgb(7, 16, 31);
                border: 2px solid #f7c88c;
                }

              .steamInfo{
                .titlebox{
                  .status{
                    .circle{
                      background: $orange;
                    }
                  }
                }
              }

              .energyBox{
                  .nameColor{
                    color: $orange;
                  }
              }
                 
            }      
           }

           .elecs{
            flex: 1;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            overflow-y: auto;
            overflow-x: hidden;
            -ms-overflow-style: none;

            .elecEquip{
              width: 100%;
              margin-bottom: 10px;
              background: #0e192ca4;
              border: 1px solid #213a60;
              border-radius: 15px;
              display: flex;
              transition: 0.2s;
              justify-content: space-around;
              position: relative;
              overflow: hidden;
              cursor: pointer;
              flex-direction: row;
              align-items: center;

              &.selected{
                background: rgb(7, 16, 31);
                border: 2px solid rgba(255, 255, 255, 0.712);
                }

              .titlebox{
                width: 50%;
                display: flex;

                .title{
                  margin: 0;
                  padding: 8px 0 8px 8px;
                  white-space: nowrap;
                  width: 90%;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }

              .elecInfo{
                width: 50%;

                .progress{
                  width: 100%;

                  span{
                    color: $white;
                    font-size: 12px;
                    text-align: right;
                    margin-left: 4px;
                  }
                }
              }
            }

            .elecEquip:hover {
              transform: translate(0, 2px);
              background: rgb(14, 25, 44);
            }
           }
      }

      .steamMapBox{
        position: absolute;
        width: calc(25% - 30px);
        right: 15px;
        padding: 15px;
        z-index: 1;
        height: calc(35% - 30px);
        background: rgba(0, 0, 0, 0.623);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
        border-radius: 15px;
        border: 1px solid $border_blue;
        bottom: 15px;
        display: flex;
        flex-direction: column;

        .title {
          color: white;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
  
          i {
            color: $primary;
            margin-right: 6px;
            transform: rotate(45deg);
            font-size: 14px;
          }
        }

        .steams{
          width: 100%;
          flex:1;
          overflow: hidden;
          display: flex;
          align-items: center;
          padding: 10px;
          position: relative;

          img{
            width: 100%;
            height: 100%;
            opacity: 0.8;
          }
        }
        .spot-box{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .spot{
            color: #1067FE;
            transition: 0.3s;
            position: absolute;
            display: inline-block;
            cursor: pointer;
            animation: spot 1s infinite;
            font-size: 20px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.452);

            &.warn{
              color: #eca200;
            }
            &.err{
              color: #ec0000;
            }
            &.selected{
              color: white;
            }
          }

          .spot401{
            top: 55%;
            left: 12%;
          }
          .spot402{
            top: 88%;
            left: 12%;
          }
          .spot403{
            top: 88%;
            left: 17%;
          }
          .spot404{
            top: 78%;
            left: 22%;
          }
          .spot405{
            top: 78%;
            left: 30%;
          }
          .spot406{
            top: 88%;
            left: 36%;
          }
          .spot407{
            top: 88%;
            left: 41%;
          }
          .spot408{
            top: 88%;
            left: 46%;
          }
          .spot409{
            top: 88%;
            left: 51%;
          }
          .spot410{
            top: 55%;
            left: 69%;
          }
          .spot411{
            top: 62%;
            left: 71%;
          }
          .spot412{
            top: 70%;
            left: 69%;
          }
          .spot413{
            top: 70%;
            left: 75%;
          }
          .spot414{
            top: 55%;
            left: 79%;
          } 
          .spot415{
            top: 70%;
            left: 83%;
          }

          //elecSpot

          .spotmt1{
            top: 62%;
            left: 9%;
          }

          .spotmt2{
            top: 70%;
            left: 9%;
          }

          .spotmt3{
            top: 65%;
            left: 14%;
          }

          .spotmt4{
            top: 53%;
            left: 17%;
          }

          .spotmt5{
            top: 53%;
            left: 32%;
          }

          .spotmt6{
            top: 53%;
            left: 36%;
          }

          .spotmt7{
            top: 53%;
            left: 48%;
          }

          .spotmt8{
            top: 53%;
            left: 56%;
          }

          .spotmt9{
            top: 73%;
            left: 20%;
          }

          .spotmt10{
            top: 74%;
            left: 23%;
          }

          .spotmt11{
            top: 75%;
            left: 26%;
          }

          .spotmt12{
            top: 75%;
            left: 29%;
          }
          .spotmt13{
            top: 75%;
            left: 32%;
          }
          .spotmt14{
            top: 77%;
            left: 35%;
          }
          .spotmt15{
            top: 77%;
            left: 40%;
          }
          .spotmt16{
            top: 77%;
            left: 45%;
          }
          .spotmt17{
            top: 65%;
            left: 75%;
          }
          .spotmt18{
            top: 75%;
            left: 85%;
          }
          .spotmt19{
            top: 38%;
            left: 40%;
          }

          .spotmt20{
            top: 6%;
            left: 25%;
            
          }
          .spotmt21{
            top: 15%;
            left: 29%;
          }
          .spotmt22{
            top: 24%;
            left: 29%;
          }

          .spot:hover{
            animation-play-state: paused;
            color: white;
          }

          @keyframes spot {
            from{transform: translate(-50%,-50%);}
            50%{transform: translate(-50%,-35%);}
            to{transform: translate(-50%,-50%);}
          }
        }

        .resetBtn{
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 12px;
          color: $white;
          padding: 4px 8px;
          border: 1px solid $primary;
          border-radius: 10px;
          background: rgba(0, 0, 0, 0.4);
          transition: 0.2s;
          cursor: pointer;

          .reset{
            color: $primary;
          }
        }

        .resetBtn:hover {
          background: rgba(0, 0, 0, 0.6);
         
        }
      }
      
  }

