$primary: #316fff;

$white: #ccc;

$blue: #0e192c;
$blue2: #132647;
$blue3: #12131a;

$border_blue: #1a3057;
$border_blue2: #274881;
$border_blue3: #1543AF;
$border_blue4: #43566D;

$black: #2c2c2c;
$red: #f32424;
$orange:#E5A12B

